:host([ghost]) {
  background: transparent;
  color: inherit;
  box-shadow: none;
}

:host([ghost-compact]) {
  background: transparent;
  box-shadow: none;
  color: inherit;
  padding-top: 0;
  padding-bottom: 0;
}
