.hola-columns {
  columns: 3 15rem;
  column-gap: 2rem;
}

.hola-columns.hola-columns-ruled {
  column-rule: 1px solid #eee;
}

.hola-columns-item {
  display: inline-block;
  width: 100%;
  break-inside: avoid-column;
}
.hola-columns-item.hola-columns-item-margined {
  margin: 1rem 0;
}
