:host {
  background: var(--hola-primary-color);
  color: var(--hola-text-light-color)!important;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 5px;
  padding: 6px
}

:host([radii]) {
  border-radius: 999em;
  padding: 6px 12px
}

:host([light]), :host-context(hola-vmenu .item .active) {
  background: rgba(255, 255, 255, .97);
  font-weight: 400
}

@media (max-width: 700px) {
  :host {
    font-size:.9rem
  }
}
