.hola-footer {
  margin-top: 3rem;
  padding: 5rem 0;
  background: #444;
  color: var(--hola-text-light-color);
}

.hola-footer * {
  opacity: 0.8;
}

.hola-footer a {
  color: inherit;
}

@media (max-width: 700px) {
  .hola-footer {
    margin-top: 1.8rem;
    padding: 3rem 0;
  }
}
