.hola-form-ctrl {
  background: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 1em;
  line-height: 1.5;
  transition: 0.5s;
  padding: 0.44em 0.7em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.hola-button:focus,
.hola-form-ctrl:focus {
  box-shadow: 0 0 0 3px var(--hola-focus-color);
}

.hola-form-ctrl.hola-input-multiline {
  display: block;
  width: 100%;
  margin: 0.15em 0;
}

.hola-form-ctrl.hola-input-singleline + .hola-button {
  margin-left: 3px;
}
