.hola-hero {
  min-height: 45vh;
  background: var(--hola-primary-color);
}

.hola-hero-height-extended {
  padding-bottom: 10rem;
  margin-bottom: -10rem;
}

.hola-navbar-with-hero ~ .hola-hero {
  padding-top: 5rem;
}

.hola-hero .hola-hero-content {
  font-size: 1.5rem;
  padding: 15vh 0;
  color: var(--hola-text-light-color);
}