.hola-container {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hola-grey-bg {
  background: #eee;
}

.hola-layout-container {
  padding: 1rem 0;
}

.hola-layout-container>* {
  box-sizing: border-box;
  display: inline-block;
}

.hola-layout-container.hola-layout-container-sidebar-right .hola-layout-main {
  width: 70%;
  padding-right: 1rem;
}
.hola-layout-container.hola-layout-container-sidebar-right .hola-layout-sidebar {
  width: 30%;
  float: right;
  padding-left: 1rem;
}

@media (max-width: 700px) {
  .hola-layout-container>* {
    display: block;
  }
  .hola-layout-container.hola-layout-container-sidebar-right .hola-layout-main {
    width: auto;
    padding-right: 0;
    padding-bottom: 2rem;
  }
  .hola-layout-container.hola-layout-container-sidebar-right .hola-layout-sidebar {
    width: auto;
    float: none;
    padding-left: 0;
  }
}