.hola-navbar {
  height: 5rem;
}

.hola-navbar-white {
  background: #fff;
  padding-bottom: 2rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.hola-navbar-transparent {
  margin-bottom: -5rem;
}

.hola-navbar nav {
  display: inline-block;
  line-height: 5rem;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}
.hola-navbar nav.hola-navbar-sub {
  float: right;
}

.hola-navbar nav a {
  display: inline-block;  
  font-size: 1.2rem;
  text-decoration: none;
  transition: .3s color ease;  
}
.hola-navbar nav.hola-navbar-main a {
  padding-right: 1em;
}
.hola-navbar nav.hola-navbar-sub a {
  padding-left: 1em;
}

.hola-navbar.hola-navbar-darkbg nav a {
  color: rgba(255, 255, 255, .6);
}
.hola-navbar.hola-navbar-darkbg nav a:hover, .hola-navbar.hola-navbar-darkbg nav a:active {
  color: rgba(255, 255, 255, .9);
}

.hola-navbar.hola-navbar-lightbg nav a {
  color: rgba(0, 0, 0, .6);
}
.hola-navbar.hola-navbar-lightbg nav a:hover, .hola-navbar.hola-navbar-lightbg nav a:active {
  color: rgba(0, 0, 0, .9);
}

.hola-navbar nav .hola-navbar-brand {
  font-weight: bold;
}