.hola-table-container {
  overflow-x: auto;
}

.hola-table.hola-table-fullwidth {
  width: 100%;
}

.hola-table thead {
  box-shadow: 0 -2px 0 #ccc inset;
  color: rgba(0, 0, 0, 0.6);
}

.hola-table tbody tr {
  box-shadow: 0 -1px 0 #ccc inset;
}

.hola-table th,
.hola-table td {
  line-height: 1.5;
}

.hola-table th {
  padding: 0.6em;
}

.hola-table td {
  padding: 0.4em 0.5em;
}
