.hola-vmenu {
  list-style: none;
}
.hola-vmenu .hola-vmenu-item {
  border-bottom: 1px solid #ccc;
}
.hola-vmenu .hola-vmenu-item a {
  display: block;
  text-decoration: none;
  line-height: 3em;
  transition: 0.3s all ease;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hola-vmenu .hola-vmenu-item a:hover,
.hola-vmenu .hola-vmenu-item a:active,
.hola-vmenu .hola-vmenu-item a:focus {
  box-shadow: -5px 0 0 var(--hola-primary-color) inset;
}
.hola-vmenu .hola-vmenu-item .hola-vmenu-item-active {
  background: var(--hola-primary-color);
  color: var(--hola-text-light-color);
}
.hola-vmenu .hola-vmenu-item:last-child {
  border-bottom: 0;
}

.hola-card .hola-vmenu {
  margin: 0 calc(0rem - var(--hola-card-padding));
}
.hola-card .hola-vmenu .hola-vmenu-item a {
  padding: 0 var(--hola-card-padding);
}
