.hola-hero {
  min-height: 45vh;
}

.hola-hero-height-extended {
  padding-bottom: 10rem;
  margin-bottom: -10rem;
}

.hola-navbar-transparent ~ .hola-hero {
  padding-top: 5rem;
  background-color: var(--hola-primary-color);
}
.hola-hero.hola-hero-colored {
  background-color: var(--hola-primary-color);
}

.hola-hero .hola-hero-content {
  font-size: 1.5em;
  padding: 15vh 0;
}

.hola-hero.hola-hero-light-bg {
  color: var(--hola-text-dark-color);
}
.hola-hero.hola-hero-dark-bg {
  color: var(--hola-text-light-color);
}

.hola-card .hola-hero .hola-hero-content {
  padding: calc(15vh - var(--hola-card-padding)) 0;
}

@media (max-width: 700px) {
  .hola-hero {
    min-height: 25vh;
  }
  .hola-hero .hola-hero-content {
    font-size: 1.3em;
    padding: 3vh 0;
  }
  .hola-hero-height-extended {
    padding-bottom: 4rem;
    margin-bottom: -4rem;
  }
  .hola-card .hola-hero .hola-hero-content {
    padding: calc(8vh - var(--hola-card-padding)) 0;
  }
}
