.hola-infosheet-row {
  display: block;
  line-height: 1.5;
}
.hola-infosheet-row::after {
  content: '';
  clear: both;
  display: table;
}

.hola-infosheet-row > * {
  box-sizing: border-box;
}

.hola-infosheet-row .hola-infosheet-key {
  display: inline-block;
  width: 30%;
  padding-right: .5em;
  font-weight: bold;
  text-align: right;
}

.hola-infosheet-row .hola-infosheet-value {
  width: 70%;
  padding-left: .5em;
  float: right;
}