<div class="hola-infosheet">
  <div class="hola-infosheet-row">
    <span class="hola-infosheet-key">用户名</span>
    <p class="hola-infosheet-value">laosb</p>
  </div>
  <div class="hola-infosheet-row">
    <span class="hola-infosheet-key">手机号码</span>
    <p class="hola-infosheet-value">+1 (555) 555 5555</p>
  </div>
  <div class="hola-infosheet-row">
    <span class="hola-infosheet-key">备注</span>
    <p class="hola-infosheet-value">并不住在美国，但是用着一个美国手机号。他是 Holakit 的最初作者及维护者，常常诈尸。</p>
  </div>
</div>