.hola-container {
  position: relative;
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hola-grey-bg {
  background: #eee;
}

@media (max-width: 700px) {
  .hola-container {
    width: 95%;
  }
}
