.hola-layout-scrollable-hori {
  box-sizing: content-box;
  overflow-x: auto;
  white-space: nowrap;
}
.hola-layout-scrollable-hori > .hola-container > * {
  vertical-align: top;
  margin-right: 0.7rem;
}
