.hola-layout-scrollable-hori {
  display: flex;
  box-sizing: content-box;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.hola-layout-scrollable-hori > .hola-container > * {
  vertical-align: top;
  margin-right: 0.7rem;
}
.hola-layout-scrollable-hori > .hola-container > .hola-card:last-child {
  margin-right: 5vw;
  /* Usually this works, but might broken on wider screen. We will still need to
   * improve this handling.
   */
}
