/* TODO: Make hola-layout-container sidebar specific. */

.hola-layout-container {
  padding: calc(var(--hola-card-gap) / 2) 0;
}
.hola-layout-container::after {
  content: "";
  clear: both;
  display: table;
}

.hola-layout-container > * {
  box-sizing: border-box;
  display: inline-block;
}

.hola-layout-container.hola-layout-container-sidebar-right .hola-layout-main {
  width: 70%;
  padding-right: calc(var(--hola-card-gap) / 2);
}
.hola-layout-container.hola-layout-container-sidebar-right
  .hola-layout-sidebar {
  width: 30%;
  float: right;
  padding-left: calc(var(--hola-card-gap) / 2);
}

@media (max-width: 700px) {
  .hola-layout-container > * {
    display: block;
  }
  .hola-layout-container.hola-layout-container-sidebar-right .hola-layout-main {
    width: auto;
    padding-right: 0;
    padding-bottom: calc(var(--hola-card-gap) / 2);
  }
  .hola-layout-container.hola-layout-container-sidebar-right
    .hola-layout-sidebar {
    width: auto;
    float: none;
    padding-left: 0;
  }
}
