<div class="hola-card-stack" style="max-width: 300px">
  <div class="hola-card">
    <p>Basic Card Component</p>
    <p>俱往矣，数风流人物，还看今朝。</p>
  </div>
  <div class="hola-card">
    <h2 class="hola-card-title">Titled Card</h2>
    <p>Of course, cards can have a proper title.</p>
  </div>
  <div class="hola-card hola-card-with-image">
    <img src="https://source.unsplash.com/featured/?head" alt="Photo from Unsplash" class="hola-image">
    <h2 class="hola-card-title">Card with image</h2>
    <p>Card can comes with images. Make sure you have proper class set.</p>
  </div>
  <div class="hola-card hola-card-full-image">
    <img src="https://source.unsplash.com/featured/?sky" alt="Photo from Unsplash" class="hola-image">
  </div>
</div>
