<div style="background: #3498db; padding: 2rem;">
  <h3 class="hola-card-stack-title hola-card-stack-title-light">Stack Title Light</h3>
</div>

<h3 class="hola-card-stack-title">Stack Title</h3>
<div class="hola-card-stack" style="max-width: 300px">
  <div class="hola-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, sequi.</div>
  <div class="hola-card">Praesentium odio, voluptate nihil dolore repellat, aperiam quae adipisci numquam.</div>
  <div class="hola-card">Saepe sequi iste neque, voluptatum quidem ducimus placeat obcaecati eum.</div>
</div>
