* {
  margin: 0;
  padding: 0;
}

*:hover,
*:focus,
*:active {
  outline: 0;
}

:root {
  --hola-primary-color: #3498db;
  --hola-text-light-color: rgba(255, 255, 255, 0.97);
  --hola-text-dark-color: rgba(0, 0, 0, 0.8);
  --hola-bg-on-dark: rgba(255, 255, 255, 0.4);
  --hola-backdrop-color: rgba(0, 0, 0, 0.8);

  --hola-focus-color: rgba(52, 152, 219, 0.5);

  --hola-avatar-bg: rgba(255, 255, 255, 0.4);

  --hola-card-padding: 2.5rem;
  --hola-card-gap: 2rem;

  --hola-element-gap: 2rem;

  @media (max-width: 700px) {
    --hola-card-padding: 1.6rem;
    --hola-card-gap: 2.5vw; /* (100vw - 95vw) / 2 */
    --hola-element-gap: 1rem;
  }
}

body {
  color: var(--hola-text-dark-color);
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, "Lantinghei SC",
    sans-serif;
  @media (max-width: 700px) {
    font-size: 0.9rem;
  }
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
body :matches(h4, h5, h6) {
  font-size: 1em;
}

body :matches(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
  text-decoration: inherit;
}

a {
  color: var(--hola-primary-color);
}

p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
