.hola-card {
  padding: var(--hola-card-padding);
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  color: var(--hola-text-dark-color);
  background-size: cover;
  background-position: center;
}

a .hola-card * {
  text-decoration: none;
  color: inherit;
}

.hola-card p {
  line-height: 22px;
}

.hola-card-title {
  margin-bottom: var(--hola-element-gap);
}

.hola-card.hola-card-with-image .hola-image:first-child {
  margin: calc(0rem - var(--hola-card-padding)) calc(0rem - var(--hola-card-padding)) 2rem calc(0rem - var(--hola-card-padding));
  width: calc(100% + 2 * var(--hola-card-padding));
}

.hola-card.hola-card-full-image img {
  margin: calc(0rem - var(--hola-card-padding));
  width: calc(100% + 2 * var(--hola-card-padding));
}
