.hola-card-stack-title {
  line-height: 2em;
}
.hola-card-stack-title a {
  color: inherit;
  text-decoration: none;
}

.hola-card-stack-title.hola-card-stack-title-light {
  color: var(--hola-text-light-color);
}

.hola-card-stack .hola-card {
  margin-bottom: 2rem;
}

.hola-card-stack.hola-columns .hola-card {
  /* We're doing this this avoid our card shadow being split between columns. */
  margin: 1rem 0;
}
