.hola-card.hola-card-tiny {
  display: inline-block;
  padding: 0.7rem;
  width: 13rem;
}

.hola-card.hola-card-tiny .hola-card-title {
  margin-bottom: 0.5rem;
  white-space: normal;
}

.hola-card.hola-card-tiny.hola-card-with-image .hola-image:first-child {
  margin: -0.7rem -0.7rem 1.2rem -0.7rem;
  width: calc(100% + 1.4rem);
}

@media (max-width: 700px) {
  .hola-card.hola-card-tiny {
    width: 8rem;
  }
}
