:host {
  display: block;
  columns: 3 15rem;
  column-gap: 2rem;
}

:host([ruled]) {
  column-rule: 1px solid #eee;
}

:host([of-cards]) {
  position: relative;
  columns: 3 20rem;
  column-gap: var(--hola-card-gap);
  box-sizing: border-box;
  margin: calc(var(--hola-card-gap) / -2) 0;
}
:host([of-cards]) ::slotted(.item) {
  margin: calc(var(--hola-card-gap) / 2) 0;
  box-sizing: border-box;
}

::slotted(.item) {
  display: inline-block;
  width: 100%;
  break-inside: avoid-column;
}

::slotted(.item[margined]) {
  margin: 1rem 0;
}
